@import url("https://fonts.googleapis.com/css?family=Poppins");

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    /*margin: 0 2em;*/
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Medium.ttf) format("truetype");
    font-weight: lighter;
    font-style: normal;
}

/*keyframe to change color later */

body,
html {
    font-family: "Poppins", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: white;
    /*background-color: black;*/
    /*margin: 0;
	padding: 0;*/
}

#navbar {
    width: 100%;
    height: 30px;
    position: fixed;
    text-align: center;
    /*display: inline;*/
    z-index: 100;
    margin-bottom: 10px;
    border-bottom: 3px solid #e4464a;
    transition: 0.5s all;
    background-color: black;
}

li {
    display: inline;
    padding: 0 1em;
}

#navbar a {
    color: white;
    text-decoration: none;
} /*elements of navbar will just be white color*/

.active-nav {
    border-bottom: 3px solid #e4464a; /*use keyframe on this maybe*/
}
/* @keyframe */

#pageContent {
    margin: 0;
}

#pageContent div {
    padding: 80px 0;
    min-height: 500px;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

#landing {
    text-align: center;
    background-image: url("/image/UGAH4-BG1.jpg");
}

h1 {
    font-weight: lighter;
    text-align: center;
}

h1.ugahacks4 {
    font-size: 35px;
}
h1.title {
    font-size: 30px;
}

p {
    font-size: 18px;
    font-weight: lighter;
}

#about {
    background-image: url("/image/UGAH4-BG2.jpg");
}

#about p {
    margin-left: 15%;
    margin-right: 40%;
}

#challenges {
    background-image: url("/image/UGAH4-BG3.jpg");
}

#challenges p {
    margin-right: 15%;
    margin-left: 40%;
}

#schedule {
    background-image: url("/image/UGAH4-BG4.jpg");
}

#schedule p {
    /* font-size: 18px;
    font-weight: lighter; */
    margin-left: 15%;
    margin-right: 40%;
    padding-bottom: 18px;
}

#registration {
    background-image: url("/image/UGAH4-BG5.jpg");
}

#registration p {
    /* font-size: 18px;
    font-weight: lighter;
    margin-right: 15%; */
    margin-left: 55%;
}

#faq {
    background-image: url("/image/UGAH4-BG6.jpg");
}

#faq p {
    /* font-weight: lighter;
    font-size: 18px; */
    margin-left: 15%;
    margin-right: 40%;
}

#sponsors {
    background-image: url("/image/UGAH4-BG7.jpg");
}

.pcbline {
    margin-left: 49.9%;
    display: block;
}
